<br>
<h2>Upload a Book</h2>
<br>

<form ng-submit="vm.createBook()">

  <label for="title"> Title: </label>
  <input ng-model="vm.book.title" type="text" /><br><br>

  <label for="description"> Description: </label>
  <input ng-model="vm.book.description" type="text" /><br><br>

  <label for="issue"> issue: </label>
  <input  ng-model="vm.book.issue" type="text" /><br><br>

  <label for="volume"> volume: </label>
  <input  ng-model="vm.book.volume" type="text"/ ><br><br>

  <label for="Page Count"> Page Count: </label>
  <input  ng-model="vm.book.page_count" type="text" /><br><br>

  <label for="Issue Date"> Issue Date: </label>
  <input ng-model="vm.book.issue_date" type="date"/><br><br>

  <label for="region"> Region: </label>
  <input ng-model="vm.book.region_id" type="text" /><br><br>




  <label for="Graphic Novel"> Graphic Novel: </label>

  <label for="Graphic Novel"> Yes: </label>

  <input  ng-model="vm.book.graphic_novel" type="radio" value="true"/>


  <label for="Graphic Novel"> No: </label>

  <input  ng-model="vm.book.graphic_novel" type="radio" value="false"/>

  <input type="submit" value="create"/>

</form>
