<br>
<h3>Upload a Book</h3>

<ul>
</ul>
<div id="preview"></div>
<form name="newForm" ng-submit="vm.createBook()">

  <!--title  -->
  <label for="title"> Title: </label><br>
  <input ng-model="vm.book.title" type="text" name="title" required="required"/><br></br>

  <div ng-messages="newForm.title.$error" ng-if="newForm.title.$touched">
    <div ng-message="required">A region is required!</div>
  </div>

  <!--description  -->
  <label for="description"> Description: </label><br>
  <input ng-model="vm.book.description" type="text" minlength="10" name="description" required="required" /><br></br>

  <div ng-messages="newForm.description.$error" ng-if="newForm.description.$touched">
    <div ng-message="required">A Desciption is required!</div>
    <div ng-message="minlength">Must be more than 10 characters!</div>
  </div>

  <!--issue  -->
  <label for="issue"> Issue number: </label><br>
  <input  ng-model="vm.book.issue" name="issue" type="number" required="required" /><br></br>

  <div ng-messages="newForm.issue.$error" ng-if="newForm.issue.$touched">
      <div ng-message="required">An issue number is required!</div>
  </div>


  <!-- volume  -->
  <label for="volume"> volume: </label><br>
  <input  ng-model="vm.book.volume" name="volume" type="number" required="required" /><br></br>

  <div ng-messages="newForm.volume.$error" ng-if="newForm.volume.$touched">
      <div ng-message="required">A volume number is required!</div>
  </div>

  <!--page count  -->
  <label for="Page Count"> Page Count: </label><br>
  <input  ng-model="vm.book.page_count" type="number" name="pageCount"required="required" /><br></br>

  <div ng-messages="newForm.pageCount.$error" ng-if="newForm.pageCount.$touched">
      <div ng-message="required">An page count is required!</div>
  </div>

  <!--issue date  -->
  <label for="Issue Date"> Issue Date: </label><br>
  <input ng-model="vm.book.issue_date" type="date" name="issueDate" required="required" /><br></br>

  <div ng-messages="newForm.issueDate.$error" ng-if="newForm.issueDate.$touched">
      <div ng-message="required">An issue date is required!</div>
  </div>


  <!-- options dropdown for regions -->
  <label for="region"> Region: </label><br>

  <select ng-model="vm.book.region_id" >

    <option ng-repeat="region in vm.regions" required="required" value="{{region.id}}">{{region.name}}</option>

  </select><br></br>



  <!-- options dropdown for genres -->
  <label ng-repeat="genre in vm.genres">
    <input type= "checkbox" ng-model="vm.book.genre_ids[$index]"  name= "genre.name" ng-true-value="{{genre.id}}" ng-false-value="">
      {{genre.name}}
 </label>

 <h1>You selected: {{vm.book.genre_ids}}</h1>



 <!-- radio button fields for graphic novel -->
  <label for="Graphic Novel"> Graphic Novel: </label>

  <label for="Graphic Novel"> Yes: </label>

  <input  ng-model="vm.book.graphic_novel" type="radio" name="graphic_novel" value="true"/>


  <label for="Graphic Novel"> No: </label>

  <input  ng-model="vm.book.graphic_novel" type="radio" name = "graphic_novel" value="false"/>

  <div ng-messages="newForm.graphic_novel.$errors">
      <div ng-message="multipleInput">You need to state if the book is a graphic novel or not</div>
  </div><br>

  <!-- single upload -->
  <!-- <label>Upload a Cover Page</label>
  <img ngf-thumbnail="pages"/>
  <div class="button" ngf-select ng-model="pages" name="pages" ngf-pattern="'image/*'"
  ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100"  ngf-resize="{width: 300, height: 300}" ng-change="vm.setPages()">Here</div><br> -->

  <!-- mulitple upload -->
  <label>Upload Pages if book in chronological order</label>
  <ul ng-repeat="url in vm.upload">
    <img ng src="{{url}}">
  </ul>
  <!-- <input type="file" ngf-select ng-model="pages" name="pages" ngf-pattern="'image/*'"
  ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100" ngf-resize="{width: 300, height: 300}" ngf-multiple="true" ng-change="vm.setPages()"/>Here<br> -->
  <input type="file" ng-model="vm.book.pages" accept="image/*" multiple base-sixty-four-input>
<!--
  <input type="file" ng-model="files" name="files" multiple accept="image/*, .zip" maxsize="5000" required base-sixty-four-input>
  <span ng-show="form.files.$error.maxsize">Files must not exceed 5000 KB</span> -->

  <input type="submit" value="create"/>

</form>
