<h2>My Profile</h2>
<div id="preview_avatar"></div>

<form name="form" ng-submit="vm.uploadAvatar()">

  <!-- single upload -->
  <label>Upload Avatar Page </label>

  <!-- <input type="file" ng-model="vm.user.avatar" id="avatar" accept="image/*" /> -->

  <div class="button" ngf-select ng-model="vm.user.avatar" name="avatar"  id="avatar" ng-click="vm.previewImg('#avatar', '#preview_avatar')" 
  ngf-pattern="'image/*'" ngf-accept="'image/*'">Select</div>

  <input type="submit" value="Submit"/>

</form>

<div id="preview_avatar"></div>
<img src="{{vm.user.avatar.thumb.url}}"/>
<ul>
  <li>Name: <span ng-bind="currentUser.name"></li>
  <li>Email: <span ng-bind="currentUser.email"></li>
  <li>User Type: <span ng-bind="currentUser.role"></li>
</ul>
