<form name="form" ng-submit="vm.uploadPages()">

  <!-- SINGLE UPLOAD COVER -->
  <!-- <label>Upload Cover Page </label> -->
    <div id="preview"></div>
    <div class="form-group">
       <label for="myFileField">Select a file: </label>

       <div class="button" ngf-select ng-model="vm.book.cover" name="cover"
       ngf-pattern="'image/*'" ngf-accept="'image/*'">Upload Cover here</div>

       <!-- <input type="file" file-model="vm.book.cover"  id ="exampleInputFile"> -->
    </div>
  <!-- <input type= "file" ngf-select="vm.book.cover" name="cover" id="cover" ng-click="vm.previewCover('#cover', '#preview')"  accept="image/*" /> -->
  <!-- <uploader ng-model="vm.book.cover"><uploader/> -->

  <!-- MULTIPLE UPLOAD PAGES-->
  <label>Upload Pages all pages must be numbered in chronological order</label>
  <ul ng-repeat="image in vm.upload">
    <div id="preview_pages"></div>
    <img ng-src="{{image.url}}">
  </ul>
  <input type="file" ng-model="vm.book.pages"  id="pages"  accept="image/*" multiple>

  <!-- <%= form.file_field :avatars, multiple: true %> -->
  <!-- <div class="button" ngf-select ng-model="vm.book.pages[]"  id="pages"  accept="image/*" multiple>Upload Pages here</div> -->


  <input type="submit" value="Upload images"/>

</form>
