
<ul class="notification">
  <h2><span ng-bind="vm.book.title"></span></h2>
  <li><img ng-src="{{vm.book.cover.thumb.url}}"></li>
  <span>Pages:</span> <li ng-repeat="item in vm.book.page_attachments"><img ng-src="{{item.page.thumb.url}}"></li>

  <li>Publishers: <span ng-repeat="user in vm.book.users">{{ user | returnPublisher }}</span></li>
  <li>Description: <span  ng-bind="vm.book.description"></span></li>
  <li>Region: <span  ng-bind="vm.book.region.name"></span></li>

  <li>Issue: <span ng-bind="vm.book.issue | date : 'fullDate'"></span></li>
  <li>Volume: <span ng-bind="vm.book.volume"></span></li>
  <li>Page_count: <span ng-bind="vm.book.page_count"></span></li>
  <li>Graphic Novel: <span ng-bind="vm.book.graphic_novel"></span></li>
  <li>Posted On: <span ng-bind="vm.book.created_at | date : 'fullDate'"></span></li>

  <!-- <li>Genres: <span ng-repeat="genre in vm.book.genres">{{ genre.name }}</span></li> -->
  <span ng-if="currentUser.role !=='publisher'">
    <button type="button" ng-click="vm.add(vm.book.id);">Get Book</button>
  </span>

  <span ng-if="currentUser.role !== 'publisher' && book.user.name !== currentUser.name">

    <form name="newForm" ng-submit="vm.createRating()">

      <label>Rating</label>

      <input ng-model="vm.rating_star" type="radio" name="rating" value="1" />
      <label>1 star</label>

      <input ng-model="vm.rating_star" type="radio" name="rating" value="2" />
      <label>2 stars</label>

      <input ng-model="vm.rating_star" type="radio" name="rating" value="3" />
      <label>3 stars</label>

      <input ng-model="vm.rating_star" type="radio" name="rating" value="4" />
      <label>4 stars</label>

      <input ng-model="vm.rating_star" type="radio" name="rating" value="5" />
      <label>5 stars</label>

      <input type="submit" value="rate"/><br><br>

      Give this a {{ vm.rating_star}} star rating.

    </form>

  </span>

  <li> Current Rating <span ng-bind="vm.rateTotal"></span></li>

</ul>
<div ng-repeat="page in vm.book.pages">
  <span><img ng-src='{{page.image}}'/></span>
</div>
