<label> Search by Region:</label>
<input ng-model="searchComics.region" ng-model-options="{updateOn: 'default blur', debounce: {'default':1000, 'blur':0}}"/>

<ul ng-repeat="book in vm.books | filter: searchComics.region | orderBy: 'title'">



  <h2><a href="#" ui-sref="home.book({id: book.id})" span ng-bind="book.title"></span></h2></a>
  <span><img ng-src="{{book.cover}}"></span>
  <li>Publishers: <span ng-repeat="user in book.users" ng-bind="user | returnPublisher"></span></li>
  <li>Description: <span  ng-bind="book.description"></span></li>
  <li>Region: <span  ng-bind="book.region.name"></span></li>
  <li>Issue: <span ng-bind="book.issue"></span></li>
  <li>Volume: <span ng-bind="book.volume"></span></li>
  <li>Page_count: <span ng-bind="book.page_count"></span></li>
  <li>Issue_date: <span ng-bind="book.issue_date | date : 'fullDate'"></span></li>
  <li>Graphic Novel: <span ng-bind="book.graphic_novel"></span></li>
  <li>Posted On: <span ng-bind="book.created_at | date : 'fullDate'"></span></li>

  <li>Genres: <span ng-repeat="genre in book.genres" ng-bind= "genre.name+(' ')"></span></li>
  <button ng-click="book.upVote(book)">Upvote + </button>
  <button ng-click="book.downVote(book)">Downvote -</button>
  <div class ="number">{{ book.num }}</div>
</ul>
