<h2>My Profile</h2>

<form name="form" ng-submit="vm.updateUser()">

  <!-- single upload -->
  <label>Upload Avatar Page </label>
  <span><img ng-src="{{ currentUser.avatar}}"></span>
  <div id="preview_avatar"></div>

  <input type="file" ng-model="vm.user.avatar" id="avatar" ng-click="vm.previewImg('#avatar', '#preview_avatar')" accept="image/*" base-sixty-four-input>

  <input type="submit" value="create"/>

</form>

<ul>
  <li>Name: <span ng-bind="currentUser.name"></li>
  <li>Email: <span ng-bind="currentUser.email"></li>
  <li>User Type: <span ng-bind="currentUser.role"></li>
</ul>
