<div ui-app="app" class="app">
    <!-- The ui-view directive will then put whatever route's template as it's contents when we go to that route - awesome! -->
    <div ui-view></div>
</div>
<!-- In order to actually display our routes on the page, we need to tell uiRoute where
 to actually put the user view. We can do this using the directive ui-view. -->
