<!DOCTYPE html>
<html ng-app="app">
  <head>
    <title>ComicVerge</title>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" media="all" href="app/assets/stylesheets/application.css" />
      <script src="app/assets/javascripts/application.js"></script>
  </head>

  <body>


    <%= render 'layouts/log_user' %>
    <%= yield %>
  </body>
</html>
